<section class="apps-screenshot-area bg-color1 p-t-130 p-b-100">
    <div class="themeix-ani">
        <img src="{{site.baseurl}}/assets/images/themeix-ani1.png" alt="animated shape" class="shape-one">
        <img src="{{site.baseurl}}/assets/images/themeix-ani2.png" alt="animated shape" class="shape-two">
        <img src="{{site.baseurl}}/assets/images/themeix-ani3.png" alt="animated shape" class="shape-tree">
        <img src="{{site.baseurl}}/assets/images/themeix-ani4.png" alt="animated shape" class="shape-four">
        <img src="{{site.baseurl}}/assets/images/themeix-ani5.png" alt="animated shape" class="shape-five">
        <img src="{{site.baseurl}}/assets/images/themeix-ani6.png" alt="animated shape" class="shape-six">
    </div>
            <div class="container">
               <div class="apps-screenshot-wrapper">
                  <div class="row">
                     <div class="col-md-7">
                        <div class="swiper-container">
                           <div class="swiper-wrapper">
                              <!-- Slides -->
                              <div class="swiper-slide"><img src="{{site.baseurl}}/assets/images/topics.png" alt="Screenshot image" /></div>
                              <div class="swiper-slide"><img src="{{site.baseurl}}/assets/images/chatpic_anon.png" alt="Screenshot image" /></div>
                              <div class="swiper-slide"><img src="{{site.baseurl}}/assets/images/homepage.png" alt="Screenshot image" /></div>
                              <div class="swiper-slide"><img src="{{site.baseurl}}/assets/images/chatpic_emp.png" alt="Screenshot image" /></div>
                           </div>
                        </div>
                     </div>
                     <div class="col-md-5">
                        <div class="screenshot-content m-l-30">
                           <div class="section-title m-b-40">
                              <h2 class="big-font2">Some more info</h2>
                              <p>Finding someone authentic to talk to is important. Sharing what you’re going through and articulating your feelings to someone who is accepting and non-judgemental is not only freeing, but also gives us the strength to accept ourselves and walk through our problems and find solutions.  </p>
                           </div>
                           <ul class="screenshot-list m-b-40 list-inline">
                              <li>Sincere and honest listening is a skill that many of us don’t learn in school or at work. At All Ears, our volunteers undergo advanced training in best listening practices. </li>
                              <li>Even more difficult than finding someone to talk to is - you guessed it - finding someone who gets you, people who are on the same wavelength. People who share the same brand of quirky, crazy, or oddness that you do. Our proprietary algorithm ensures that you are matched to the best like-minded listeners who understand you the way you are.</li>
                              <li>Having a go-to person who is a good listener is everything. All Ears allows you to mark your favorite listeners and directly reach out to them anytime you want to.</li>
                           </ul>
<!--                            <div class="apps-download-link">
                              <p class="weight-medium">Dorem ipsum dolor sit amet, consete radipscing elitr sed diam</p>
                           </div> -->
                        </div>
                     </div>
                  </div>
               </div>
            </div>
</section>