
<section class="feature-area bg-color1 p-b-100" id="feature">
<div class="container">
    <div class="feature-wrapper">
        <div class="row">
            <div class="col-md-7">
            <div class="section-title m-b-70">
                <h2 class="big-font2">Texts for Empaths Title can span upto two lines</h2>
            </div>
            </div>
        </div>
<!--         <div class="row">
            <div class="col-md-8">
            <div class="row">
                <h6>More text on how to be an empath.</h6>
            </div>
            </div>
        </div> -->
        <div class="row">
            <div class="col-md-8">
                <div class="row"> 
                    <p> Just Some Good text Just Some Good tex Just Some Good tex Just Some Good tex Just Some Good tex Just Some Good tex Just Some Good tex Just Some Good tex Just Some Good tex Just Some Good tex</p>
                </div>
            </div>
            <div class="col-md-3  offset-lg-1">
            <div class="feature-img1">
                <img class="image-mockup" src="{{site.baseurl}}/assets/images/empath_best.jpeg" alt="best image" />
            </div>
            </div>
        </div>
    </div>
</div>
</section>
