<header class="header-area bg-color2 {% if page.layout == "page" or page.layout == "tag_page" or page.layout == "category" or page.layout == "post" or  page.layout == "author" %}page-area{% endif %}">

<!-- <style type="text/css">
    #mc_embed_signup{background:#fff; clear:left; font:14px Helvetica,Arial,sans-serif; }
    /* Add your own Mailchimp form style overrides in your site stylesheet or in this style block.
       We recommend moving this block and the preceding CSS link to the HEAD of your HTML file. */
</style> -->

<!--End mc_embed_signup-->
<div class="container">
    <div class="header-nav">
        <div class="row">
            <div class="col-lg-2">
             {% include header_logo.html %}
            </div>
            <div class="col-lg-10">
              {% include navigation.html %}
            </div>
        </div>
    </div>
     {% if page.url == "/" %}
    <div class="header-banner">
        <div class="row">
            <div class="col-md-8">
            <div class="banner-content">
                <h1 class="big-font1 white-text m-b-50">Express. Empathize.</h1>
<!--                 <h5 class="white-text m-b-50">Sometimes reaching out is the breavest move you can make.
                </h5> -->
                <div id="mc_embed_signup">
                    <link href="//cdn-images.mailchimp.com/embedcode/classic-10_7.css">
                    <form action="https://space.us6.list-manage.com/subscribe/post?u=248b35639ad97844700b32e7e&amp;id=5d5560eac2" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
                        <div id="mc_embed_signup_scroll">   
                        <h5 class="white-text m-b-10"><strong>Subscribe for Updates!</strong></h5>
                        <div class="mc-field-group">
                            <input type="email" value="" name="EMAIL" id="mce-EMAIL">
                        </div>
                        <div id="mce-responses" class="clear">
                            <div class="response" id="mce-error-response" style="display:none"></div>
                            <div class="response" id="mce-success-response" style="display:none"></div>
                        </div> 
                        <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_248b35639ad97844700b32e7e_5d5560eac2" tabindex="-1" value=""></div>
                        <input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="button" float="left">
                        </div>
                        <script type='text/javascript' src='//s3.amazonaws.com/downloads.mailchimp.com/js/mc-validate.js'></script>
                        <script type='text/javascript'>(function($) {window.fnames = new Array(); window.ftypes = new Array();fnames[0]='EMAIL';ftypes[0]='email';fnames[1]='FNAME';ftypes[1]='text';fnames[2]='LNAME';ftypes[2]='text';fnames[3]='ADDRESS';ftypes[3]='address';fnames[4]='PHONE';ftypes[4]='phone';fnames[5]='BIRTHDAY';ftypes[5]='birthday';}(jQuery));var $mcj = jQuery.noConflict(true);</script>
                    </form>
                    </div>
            </div>
            </div>
            <div class="col-md-4">
            <div class="banner-mockup"><img src="{{site.baseurl}}/assets/images/empath.png" alt="banner image"/></div>
            </div>
        </div>
    {% endif %}
    {% if page.layout == "post" %}
    <div class="header-page-title">
        <div class="row">
            <div class="col-md-12">
            <div class="page-title text-left white-all">
                <h1 class="big-font1 m-b-30">{{page.title}}</h1>

                <ul class="page-post-date list-inline">
                    {% assign author =  page.author %}
		{% if author %}
					<li class="list-inline-item"><img src="{{site.baseurl}}/assets/images/page-avatar-icon.png" alt="icon"/><a href="/authors/{{page.author}}">{{page.author}}</a></li>
			{% endif %}
                    <li class="list-inline-item"><img src="{{site.baseurl}}/assets/images/page-clock-icon.png" alt="icon"/>{{page.date | date_to_long_string}}</li>
                </ul>
            </div>
            </div>
        </div>
    </div>
    {% endif %}
    {% if page.layout == "category" %}
               <div class="header-page-title">
                  <div class="row">
                     <div class="col-md-12">
                        <div class="page-title text-center white-all">
                              <div class="author-name">
							  <h1 class="big-font1"> {{page.title | capitalize }}</h1>
								 <p class="page-title-meta mb-0">A collection of <strong>
										{% for post in (1..paginator.total_pages) %}
									   {% capture post_count %} {{ post_count | plus: 1 }} {% endcapture %}
									{% endfor %}
									{{ post_count }}
						</strong>  posts 
								</p>
								
							  </div>
                        </div>
                     </div>
                  </div>
               </div>
			{% endif %}
			{% if page.layout == "tag_page" %}
               <div class="header-page-title">
                  <div class="row">
                     <div class="col-md-12">
                        <div class="page-title text-center white-all">
                              <div class="author-name">
							  <h1 class="big-font1"> {{page.title | capitalize }}</h1>
								 <p class="page-title-meta mb-0">A collection of <strong>
												   {% for post in page.posts %}
									   {% capture post_count %} {{ post_count | plus: 1 }} {% endcapture %}
									{% endfor %}
									{{ post_count }}
						</strong>  posts 
								</p>
								
							  </div>
                        </div>
                     </div>
                  </div>
               </div>
    {% endif %}
    {% if page.layout == "author" %}
    <div class="header-page-title">
            <div class="row">
                <div class="col-md-12">               
                <div class="page-title text-center white-all">
                    <div class="author-name">
                        <img src="{{page.image}}" alt="{{page.name}}"/>
                        <h1 class="big-font1">{{page.name}}</h1>
                        <p>{{page.bio}}</p>
                        <ul class="social-link list-inline">
                            {% if page.facebook %}
                            <li class="list-inline-item"><a href="#"><i class="fab fa-facebook-f"></i></a></li>
                            {% endif %}
                            {% if page.twitter %}
                            <li class="list-inline-item"><a href="#"><i class="fab fa-twitter"></i></a></li>
                            {% endif %}
                            {% if page.reddit %}
                            <li class="list-inline-item"><a href="#"><i class="fab fa-reddit-alien"></i></a></li>
                            {% endif %}
                            {% if page.instagram %}
                            <li class="list-inline-item"><a href="#"><i class="fab fa-instagram"></i></a></li>
                            {% endif %}
                        </ul>
                    </div>
                </div>
                 
                </div>
            </div>
        </div>
    {% endif %}
    {% if page.layout == "page" %}
    <div class="header-page-title">
      <div class="row">
        <div class="col-md-12">
            <div class="page-title text-center white-all">
                <h1 class="big-font1">{{page.title}}</h1>
            </div>
        </div>
      </div>
    </div>
    {% endif %}
    <!-- {% include header_shape.html %} -->
</div>
</header>
